body {
    background-image: url(../img/random_grey_variations.png);
}

.logo {
    font-family: 'Noto Sans HK', sans-serif;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover, 
.logo a:active {
    text-decoration: none;
}