{% extends 'base.html' %}

{% block lightbox %}
<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="../images/cypresstop.jpg">
                    <img class="img-fluid image" src="../images/cypresstop.jpg" alt="Cypress Mountain">
                    <span class="description">
                        <span class="description-heading">Project 1</span>
                        <span class="description-body">
                            Project 1
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="../images/chief.jpg">
                    <img class="img-fluid image" src="../images/chief.jpg" alt="Stawamus Chief">
                    <span class="description">
                        <span class="description-heading">Project 2</span>
                        <span class="description-body">
                            Project 2
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="../images/seymour.jpg">
                    <img class="img-fluid image" src="images/seymour.jpg" data-echo="../images/seymour.jpg" alt="Mount Seymour">
                    <span class="description">
                        <span class="description-heading">Project 3</span>
                        <span class="description-body">
                            Project 3
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="../images/seymour.jpg">
                    <img class="img-fluid image" src="images/seymour.jpg" data-echo="../images/seymour.jpg" alt="Mount Seymour">
                    <span class="description">
                        <span class="description-heading">Project 4</span>
                        <span class="description-body">
                            Project 4
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock lightbox %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Discussion Boards</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.get_post_count }}
          </td>
          <td class="align-middle">
            {{ board.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=board.get_last_post %}
              {% if post %}
                <small>
                  <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
                    By {{ post.created_by.username }} at {{ post.created_at }}
                  </a>
                </small>
              {% else %}
                <small class="text-muted">
                  <em>No posts yet.</em>
                </small>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}