Greetings & Salutations Friend,

We are genuinely happy to inform you that the password reset feature is now up and running. 
Due to unforseen circumstances, knowledge of your password's identity has vanished completely.
As a result, there has been a request to reset the password for the account associated with {{ email }}.

Your username is: {{ user.username }}

To reset your password, please follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you did not request a password reset, you do not need to take any action. Please do not attempt to reset someone else's password. That would be unethical.
We are happy to continue serving you to the best of our ability.

Warm and kind regards,

Your Friend
