{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset Password
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-success btn-block">Change Password</button>
                        </form>
                    {% else %}
                        <h3 class="card-title">Reset Password</h3>
                        <div class="alert alert-danger" role="alert">
                            We are happy to inform you that you can easily issue another password reset link.<br><br>
                            This password reset link seems to have expired.
                        </div>
                        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">New Password Reset Link</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
